body {
  background:cornflowerblue;
}
p {
  color: lightgoldenrodyellow;
  font-size: 33px
  
}
h1 {
  font-weight: bold;
  color:darksalmon;
  font-weight: bold;
  font-family:cursive;
  font-size: 45px
}

h3 {
  color:lightcoral;
  font-size: 33px
