body {
  background: royalblue;
}
p {
  color: powderblue;
  float: right;
  text-emphasis: size after 23px;
  
}
h1 {
  font-weight: bold;
  color:lavender;
  font-family: cursive;
  font-size: 55px;
  text-align: center
}

ol {
  color:aqua;
  font-size: 33px;
  text-align: left;
}



img {
  float: right;
  clear: both;
  width: 400px;
  margin: 10px;
  border-color: blue;
  border-width: 15px;
  border-style: double;
  border-radius: 25px;
}

h6 {
  font-size: 33px;
  color:darkcyan;
  text-align: left;
}

.container {
  width: 50%;
  float: left;
  border-color:rgb(87, 76, 62);
  border-width: 5px;
  background-color:burlywood;
  border-style: solid;
  border-radius: 10px;

}

h2 {
  color: lightskyblue;
  font-weight: bold;
  font-family: cursive;
  font-size: 44px;
  text-align: right
}

#aboutArgs {
  float: left;
  border-color:antiquewhite;
  border-width: 5px;
  background-color:gray;
  border-style: solid;
  border-radius: 10px;
}

a {
  color: darkgoldenrod;
  text-align: center;
  
}

ul {
  list-style-type: none;
  
  margin: 0;
  padding: 0;
  overflow: hidden;
  float:left;
  
}



 li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;

}
li a:hover{
  background-color: royalblue;
}

li {
  float: left
    color:goldenrod;
}

.articles {
  width: 95%;
  border-color:antiquewhite;
  border-width: 5px;
  background-color:gray;
  border-style: solid;
  border-radius: 10px;

}
